            @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap');
             :root {
                --primary-color: #6812b9;
                --light-gray: #4B5563;
            }
            
            * {
                box-sizing: border-box;
            }
            
            body {
                margin: 0;
                font-family: 'Kalam', cursive;
                color: black;
            }
            
            header {
                max-width: 50%;
                margin: auto;
                text-align: center;
                margin-top: 2rem;
                padding: 2rem;
            }
            
            main {
                max-width: 800px;
                margin: auto;
                padding: 1rem;
            }
            
            .container {
                display: flex;
            }
            
            .boxOne {
                flex: 1;
                margin: 0 9opx 0 0;
                padding: 2rem;
                padding-right: 4rem;
            }
            
            .boxTwo {
                flex: 3;
            }
            
            #txtInput {
                display: block;
                margin-top: 2rem;
                height: 20vh;
                width: 100%;
                font-family: inherit;
                font-size: large;
            }
            
            #btnTranslate {
                background-color: var(--primary-color);
                font-size: large;
                border: 0;
                border-radius: 1rem;
                font-family: inherit;
                padding: 1rem 2rem;
                margin: 1rem 0;
                cursor: pointer;
                color: white;
            }
            
            #output {
                border: 1px solid black;
                height: 15vh;
                width: 15vh;
                width: 100%;
                overflow: scroll;
            }
            
            footer {
                text-align: center;
                padding: 2rem 1rem;
                background-color: var(--primary-color);
                width: 100%;
                border-radius: 2rem 2rem 0 0;
            }
            
            .footer-header {
                font-weight: bold;
                font-size: x-large;
                margin-bottom: 1rem;
                color: white;
            }
            
            footer p {
                max-width: 600px;
                margin: auto;
                font-size: x-large;
                color: white;
            }
            
            ul {
                padding-top: 1rem;
                margin: 0.4rem;
                padding-inline-start: 0px;
            }
            
            li {
                display: inline;
                padding: 0rem 1rem;
            }
            
            a {
                color: var(--light-gray);
                font-size: 2rem;
                margin: 0.3rem;
            }
            
            a:hover {
                color: white;
            }